:root {
  --dark-pink: #ff69b4;
  --pink: #f8bbd0;
  --cream: #f5f5dc;
  --gold: #d4af37;
}

body {
  font-family: "Work Sans", sans-serif;
  background-color: var(--cream);
  margin: 0;
}

button {
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  transform: scale(1.2);
}

.drum-machine {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.🍒 {
  font-size: 3rem;
  width: 100%;
  top: 5rem;
  position: fixed;
  text-align: center;
}

.display {
  background-color: var(--pink);
  height: 30%;
  border-radius: 1.5rem;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 30%;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

.col {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.col > .row {
  width: 90%;
  flex-direction: row;
}

.drum-pad {
  border: 1px solid var(--dark-pink);
  border-radius: 1.2rem;
  background-color: var(--cream);
  width: 30%;
  height: 100%;
}

.played {
  border: 1px solid var(--cream);
  border-radius: 0.5rem;
  background-color: var(--dark-pink);
  width: 30%;
  height: 100%;
  transform: scale(0.9) !important;
}

.slide-container {
  text-align: center;
}

@media only screen and (max-width: 1100px) {
  .row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
  }

  .display {
    background-color: var(--pink);
    height: 50%;
    border-radius: 1.5rem;
  }
}
